*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
build
gradle.properties
/app/google-services.json
/app/src/main/java/com/davidlutta/galactic_ninja/cryptowatch/Constants.java
